<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= title %></title>
    <link 
    id="favicon" 
    rel="icon" 
    href="https://cdn.discordapp.com/attachments/1141545872916762718/1157288386512560218/favicon.png?ex=6518104c&is=6516becc&hm=18108c5dcd40edc79a2c195e5b79eb1bd68306053c3a921863a3b05628dff69a&" 
    type="image/x-icon">