<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>

<main>
    <h1><%= workout.name %></h1>
    <h2>Exercises:</h2>

    <a href="/workouts">Back to Workouts</a>
</main>

<%- include('../partials/footer') %>