html {
  box-sizing: border-box;
}

*, 
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #494848;
  color: #f6f6f6;
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(to right, 
  #000000 5%,   
  #666666 ,   
  #666666 , 
  #fcfcfc 5%,  
  #666666, 
  #666666 5% ,   
  #000000 );  
  height: 100vh; 
}
button
{
  box-shadow: 2px 2px 2px #888888;
}

/* Base styles for the navigation bar */
nav {
  background-color: #f6f6f6;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 60px;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 20px;
}

/* Style for the navigation links */
nav a {
  text-decoration: none;
  color: #1a1a1a;
  padding: 10px 20px;
  font-weight: bold;
  transition: color 0.3s ease;
}

/* Style for the active link */
nav a.active {
  color: #007bff; 
}
nav .right{
  margin-left: auto;
}
/* Style for the Logout button */
nav .right button{
  
  background-color: #007bff;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 7px 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}

/* Hover effect for the Logout button */
nav .right button:hover {
  background-color: #ffffff;
  color: #007bff;
}

/* Style for the Google Sign-In button */
.g_id_signin {
  margin-left: 10px;
  background-color: #fff;
  border: 2px solid #007bff;
  color: #007bff;
  padding: 2px 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  border-radius: 9px;
}

/* Hover effect for the Google Sign-In button */
.g_id_signin:hover {
  background-color: #007bff;
}

/* Page header */
.main-header {
  color: #adabab;
}

/* User avatar styles */
.user-avatar {
  max-width: 150px;
  margin-top: 10px;
}

/* Workout history styles */
.workout-history-header {
  color: #adabab;
}

.workout-history-list {
  width: 80vw;
  list-style: none;
  padding: 0;
  padding: 20px;
  margin: 10px 0;
}

.workout-history-item {
  margin-bottom: 20px;
  padding: 0;  
  border: 2px solid white;
  background-color: rgb(74, 82, 82);
  padding: 40px;
  border-radius: 20px;
}

/* Exercise list styles */
.exercise-list {
  list-style: none;
  padding: 0;
}

.exercise-list-item {
  margin-bottom: 10px;
}

.exercise-name {
  font-weight: bold;
  color: #00e1ff;
  margin: 50px 0px;
}

/* Set details styles */
.set-details {
  list-style: none;
  padding: 0;
  margin-top: 5px;
}

.set-details-item {
  margin-bottom: 5px;
  color: #e0dede;

}

/* No workout history styles */
.no-history {
  color: #f0f0f0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

/* Table styles */

table {
  width: 100%;
  border-collapse: collapse;
  margin: 30px 0;
  background-color: #c4c4c4;
  height: fit-content;
  padding: 100px;
  box-shadow: 5px 5px 10px #888888;
}

tr{
  border: 3px solid #000000; /* Add a border for visualization */
  padding: 10px; /* Add padding for spacing */
}

thead th {
  background-color: #83b9f1;
  color: #000000;
  padding: 10px;
  text-align: left;
}

tbody td {
  padding: 10px;
  border-top: 1px solid #ddd;
  color: #000000;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Alternate row color */
}